<div class="container">
  <%= link_to edit_restaurant_path(@restaurant), class: "btn me-2" do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <%= link_to restaurant_path(@restaurant), class: "button me-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i>
  <% end %>
  <h1> <%= @restaurant.name %> </h1>

  <p> <%=@restaurant.address%></p>
  <p> <%= @restaurant.phone_number %></p>
  <p> <%= @restaurant.category %></p>

   <%= link_to "See all restaurant", restaurants_path, class: "btn btn-primary" %>
   <%= link_to "Add review",  new_restaurant_review_path(@restaurant), class: "btn btn-warning" %>
</div>
<div class="container mt-4">
  <h3 class="mb-4"> All Reviews </h3>
  <% @restaurant.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.content %>
    <hr>
  <% end %>
</div>
